.main__container {
  max-width: 984px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.main__topic {
  margin: 0;
  max-width: 830px;
  width: 100%;
  padding-bottom: 39.98px;
  gap: 0px;
  opacity: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
}

.main__text {
  margin: 0;
  max-width: 738px;
  width: 100%;
  padding-bottom: 10px;
  gap: 0px;
  opacity: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

.main__author {
  margin: 0;
  max-width: 732px;
  width: 100%;
  padding-bottom: 31.99px;
  gap: 0px;
  opacity: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
}

.main__text-description {
  margin: 0;
  max-width: 722px;
  width: 100%;
  padding-bottom: 92px;
  gap: 0px;
  opacity: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
}

@media screen and (max-width: 1024px) {
  .main__topic {
    max-width: 707px;
    font-size: 45px;
    line-height: 49px;
    padding-bottom: 50px;
  }

  .main__text {
    max-width: 720px;
    font-size: 24px;
    line-height: 34px;
  }

  .main__author {
    max-width: 720px;
  }

  .main__text-description {
    max-width: 720px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 544px) {
  .main__topic {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 40px;
  }
  .main__text {
    max-width: 288px;
    font-size: 24px;
    line-height: 30px;
  }

  .main__author {
    max-width: 288px;
  }
  .main__text-description {
    max-width: 288px;
    padding-bottom: 64px;
  }
}
